@import "./variables.css";

.featured-companies{
    width: 90vw;
    margin: 2rem auto;
    display: grid;
    gap: 1.2rem;
    max-width: 1000px;
}



.featured-companies .company{
    display: flex;
    border: 1px solid #ddd;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: .6rem;
    border-radius: 8px;
    text-transform: capitalize;
}

.featured-companies .company .left{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}


.featured-companies .company h3{
    font-size: 1.2rem;
}



.featured-companies .company .left .detail>div{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: small;
    
}

.featured-companies .company .img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.featured-companies .company .img img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}


@media screen and (min-width: 990px) {
    .featured-companies{
        grid-template-columns: repeat(2, 1fr);
    }
}
